body {
  height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  outline: 0;
  border: 0;
  height: 80px;
  width: 110px;
  border-radius: 12px;
  text-align: center;
  font-size: 3.2rem;
}


.stop{
    display: none;
}



